<div class="main-background" style="background-size:cover !important;height:70vw">
<div class ="container" style="background-color:#31493C;border-radius:20px">
<h1 class="about" style ="color:lightgray">About YardSpace</h1>
<br /><br /><br /><br /><br />
<h1 class="about" style ="color:lightgray">About YardSpace</h1>
<h3 class="about"  style ="color:lightgray">My friends and I came up with the idea for Yardspace while on a 6 month journey through East Africa. As budget travelers we always couchsurfed or found camping in quiet areas. Where we found couchsurfing lacking was if we were passing through a town for a day just needed an overnight spot, or when there was a large group of us. We were often forced to “stress” camp somewhere potentially illegal or dangerous in a country we didn’t know very well.</h3>
  <h3 class="about"  style ="color:lightgray">As we fell into that situation more and more, the idea of Yardspace came about. Yardspace works in much of the same way as couchsurfing but it's far less invasive for the hosts, minimizes many of the potential security issues, and is ideal for the outdoors lover who want to travel cheaply.</h3>
</div>
</div>
