    <!-- <div class ="backdrop">
      <img class="main-image" src="http://i.imgur.com/tqzjbOP.gif" alt="background image">
    </div>
    <h1 class = "home-text">YardSpace</h1> -->
    <div class="main-background">
      <div class="container">
        <div class="row">
          <div class="col-xs-6  intro-text">
            <h1 class ="title">Yard Space</h1>
            <h3>For the adventurer looking to camp on the fly</h3>
          </div>


        </div>
        <div class="row">
          <div class ="col-xs-6 pull-left">
            <%=button_to 'Get Started','/started', :method => 'get', :class => "btn big-btn cool-btn"%>
          </div>
      </div>
      <div class = "row">
        <div class ="text-center learn">
          <%= link_to '#learnMore', class:'learn' do %>
          <span class = "glyphicon glyphicon-arrow-down"></span><span> Learn More</span>
          <%end%>
        </div>
      </div>

    </div>
    <br />
      <div class ="row black " id="learnMore">
          <div class=" learn-text">
            <h1 class ="text-center">change the way you travel...</h2>
              <div class="col-xs-6">
            <h3>Yardspace helps urban campers looking to explore new cities and meet locals  </h3>
              <br />
            <h2 class ="text-left">1.Make an account </h2><br />
            <h2 class ="text-center">2.Browse cities</h2><br />
            <h2 class ="text-right">3.Connect and camp!</h3>
          </div>
          <div class="col-xs-6 black-small">
            <h4 style='margin-top:350px'>Its always free to camp, please be a respectful camper and leave no trace</h4>
          </div>
        </div>
      </div>
      <div class ="row safety">
        <h1 class ="text-center" style="color:#11151C">Safety </h1>
        <br />
        <div class ="container">
        <div class ="col-xs-4 text-center box">
          <img class="safe" src="http://i.imgur.com/0cttA29.png" alt="number one">
          <h3>Message the host before hand</h3>
          <h3>with questions or concerns</h3>
        </div>
        <div class ="col-xs-4 text-center box">
          <img class="safe" src="http://i.imgur.com/jO0hYT7.png" alt="number one">
          <h3>Read the reviews and ratings</h3>
          <h3>of each yard before you book</h3>
        </div>
        <div class ="col-xs-4 text-center box">
          <img class="safe" src="http://i.imgur.com/hOZqo9O.png" alt="number one">
          <h3>Request friends and </h3>
          <h3>discuss camping plans</h3>
        </div>
      </div>
      <br />
    </div>
</div>
<%= render 'partials/footer' %>
