/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker
 */
 body a:hover {
   text-decoration: none;
 }
 .learn{
   margin: 130px;
   color:white;
   font-size: 30px;
 }
 .learn a:hover{
   color:lightgray;
 }
 .learn-text{
   color:white;
   font-family: 'Optima';

 }
 .black-small{
   background-image: url("http://i.imgur.com/sngrHRA.jpg");
   background-size: contain;
   width:100%;
   height:30vw;
 }
 .black{
   background-color: black;
   background-size: cover;
 }
 .background-image{
   background-image: url("http://i.imgur.com/4NdOYp9.png");
   background-size: cover !important;
   height: 100%;
   width:100%;
   margin-top: -60px;
   color:white;
 }
 .main-background{
   background-image: url("http://i.imgur.com/4NdOYp9.png");
   background-size: contain !important;
   height: 100%;
   width:100%;
   margin-top: -60px;
 }
 .intro-text{
   color:lightgray;
   margin-top:180px;
   margin-bottom: 70px;
   margin-left: 30px;
   font-family: 'Optima';
 }
.learn-text{
  margin:50px;
}
 .title{
   font-size: 60px;
 }
.message-box{
  margin:50px;
}
.msg-pic{
  height:4vw;
  width:4vw;
}
.reply-msg{
  margin-left:50px;
  margin-bottom: 50px;
  margin-top: -40px;
}
.see-msg-btn{
  margin-top: 100px;
}

.yard-city-details{
  margin-top: 60px;
}
.yard-city{
  border: 1px solid gray;
  margin:15px;
}
.city-pic{
  margin-bottom:15px;
  height:17vw ;
  width:17vw ;
}
.user-city{
  margin-top: 50px;
}
.prof-city{
  height:13vw !important;
  width:13vw !important;
}
.book-prof{
  height:17vw !important;
  width:17vw !important;
}
.user-info-city{
  margin-top: 15px;
}
.prof-bookings{
  margin-top: 70px;
}
.prof-pic{
  margin-top: 40px;
}
.prof-info{
  margin-top: 60px;
}
.profilePic {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  height: auto;
  width: auto;
  max-width: 260px;
  max-height: 260px;
  border:3px solid black;
  -webkit-box-shadow: 1px 1px 1px 1px #fff;
  -moz-box-shadow: 1px 1px 1px 1px #fff;
  box-shadow: 1px 1px 1px 1px #fff;
}
 .nav{
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    font-size: 20px;
 }
 .message-thread{
   border:1px dotted gray;
 }
.comment-box{
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 35px;
  padding: 10px;
  border: 1px solid gray;
}
.add-comment-box{
  margin-left: 25px;
}

.booking-yard-pic{
  height:18vw;
  width:18vw;
}
.booking-prof-pic{
  height:18vw;
  width:18vw;
}
.show-yard-pic{
  height:34vw;
  width:34vw;
}
.yard-info{
  margin-top:50px;
  border: 1px solid gray;
  background: pink;
}
.prof-yard-show{
  margin-top: 100px;
}
.big-btn{
  font-size:22px !important;
  margin-left:300px;
}
.cool-btn {
	-moz-box-shadow: 3px 4px 0px 0px #899599;
	-webkit-box-shadow: 3px 4px 0px 0px #899599;
	box-shadow: 3px 4px 0px 0px #899599;
	background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.cool-btn:hover {
	background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
	background-color:#bab1ba;
}
.cool-btn:active {
	position:relative;
	top:1px;
}
.signup-form{
  margin:20px;
}
