/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker
 */
 .main-background{
   background-image: url("http://i.imgur.com/tqzjbOP.gif");
   background-size: cover !important;
   height: 60vw;
   width:100%;
 }
 .intro-text{
   color:lightgray;
   margin:80px;
   font-family: 'Optima';
 }
 .sign-up-btn{
   margin-left:350px;
 }
 .title{
   font-size: 60px;
 }
.message-box{
  margin:50px;
}
.msg-pic{
  height:4vw;
  width:4vw;
}
.reply-msg{
  margin:50px;
}
.see-msg-btn{
  margin-top: 100px;
}
 .nav{
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    z-index: 1;
    font-size: 20px;
 }
 .message-thread{
   border:1px dotted gray;
 }
.comment-box{
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 35px;
  padding: 10px;
  border: 1px solid gray;
}
.add-comment-box{
  margin-left: 25px;
}
